<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>repo.com.waisely</id>
      <username>AKIAJYOCIKDEKPMIAAGA</username>
      <password>L3UqGEWnTxSjlhjkcifRnleoA2KI8q498Qz0E7Fb</password>
    </server>
        <server>
      <id>repo.com.waisely.snapshot</id>
      <username>AKIAJYOCIKDEKPMIAAGA</username>
      <password>L3UqGEWnTxSjlhjkcifRnleoA2KI8q498Qz0E7Fb</password>
    </server>
  </servers>
</settings>
